<p class="customer">
  <%= Spree.t(:dear_customer, :default => Spree.t("store_dear"), :name => @order.bill_address ? @order.bill_address.full_name : Spree.t("store_customer") ) %>
</p>
<p class="overview">
  <%=Spree.t("order_check")%>
</p>
<p class="link">
  <%= Spree.t("oreder_full_details")%>
  <%= link_to(order_url(@order, :host => Spree::Config[:site_url]), order_url(@order, :host => Spree::Config[:site_url])) %>
</p>
<h1>
  <%= Spree.t("order_summary")%>
</h1>
<%= render :partial => 'spree/shared/email/order_details', :locals => {:order => @order} %>
<%= render :partial => 'spree/shared/email/digitals', :locals => { :order => @order } %>
<p class="thank-you">
  <%=Spree.t("order_thank_you")%>
</p>