<p class="customer">
  <%= Spree.t(:dear_customer, :default =>Spree.t("store_dear"), :name => @shipment.order.bill_address ? @shipment.order.bill_address.full_name : Spree.t("store_customer")) %>
</p>
<p class="overview">
  <%=Spree.t("store_ship_status")%>
</p>
<p class="link">
  <%= Spree.t("oreder_full_details")%>
  <%= link_to(order_url(@shipment.order, :host => Spree::Config[:site_url]), order_url(@shipment.order, :host => Spree::Config[:site_url])) %>
</p>
<%= render :partial => 'spree/shared/email/shipment_details', :locals => {:shipment => @shipment} %>
<%= render :partial => 'spree/shared/email/shipment_tracking', :locals => { :shipment => @shipment} %>
<%= render :partial => 'spree/shared/email/digitals', :locals => { :order => @shipment.order } %>
<p class="thank-you">
  <%= Spree.t("order_thank_you")%>
</p>
